@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

section {
  padding: 0 2.5rem;
}
